<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.homepage}">Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<!-- Вставка навигационной панели -->
<div th:replace="~{/fragments/sidebar.html}"></div>

<main>
    <div th:replace="~{/fragments/header.html}"></div>

    <br>

    <div class="profile-header" th:text="#{nav.announcements}">Announcements</div>

    <div class="container">
        <form method="get" th:action="@{/announcements}">
            <div class="profile-row">
                <div>
                    <label for="typeFilter" th:text="#{label.filter_by_type}">Filter by type:</label>
                    <select name="typeFilter" id="typeFilter">
                        <option value="" th:selected="${selectedType == null}" th:text="#{label.all}">All</option>
                        <option th:each="type : ${types}"
                                th:value="${type.name()}"
                                th:text="#{${type.getDisplayName()}}"
                                th:selected="${selectedType != null and type.name() == selectedType.name()}">
                        </option>
                    </select>
                </div>
                <button class="button-filter" type="submit" th:text="#{label.filter}">Filter</button>
                <a th:href="@{/announcements/add}" class="button-filter" th:text="#{label.add_announcement}"
                   sec:authorize="hasAuthority('TEACHER') or hasAuthority('ADMIN')">
                    Add Homework
                </a>
            </div>
            <br>
        </form>
        <br>

        <div th:each="announcement : ${announcements}" class="announcement">
            <h2 th:text="${announcement.title}">Announcement Title</h2>
            <p>
                <strong th:text="#{label.type}">Type:</strong>
                <span th:text="${announcement.type != null} ? #{${announcement.type.getDisplayName()}} : 'N/A'"></span>
            </p>
            <p>
                <strong th:text="#{label.date}">Date:</strong>
                <span th:text="${#strings.capitalize(#temporals.format(announcement.createdAt, 'dd MMM yyyy HH:mm', T(java.util.Locale).forLanguageTag('uk')))}"></span>
            </p>
            <p>
                <strong th:text="#{label.author}">Author:</strong>
                <span th:text="${announcement.author.firstname + ' ' + announcement.author.lastname}"></span>
            </p>
            <div th:text="${announcement.content}">Content of the announcement</div>
            <form th:action="@{'/announcements/delete/' + ${announcement.id}}" method="post"
                  sec:authorize="hasAuthority('TEACHER') or hasAuthority('ADMIN')">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="button-filter" th:text="#{label.delete}">Delete</button>
            </form>
        </div>
    </div>


</main>
</body>
</html>