<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<!-- Вставка навигационной панели -->
<div th:replace="~{/fragments/sidebar.html}"></div>

<main>
    <div th:replace="~{/fragments/header.html}"></div>

    <br>

    <div class="profile-header">
        <a th:href="@{/students}" class="back-arrow" title="Back">←</a>
        <span th:text="#{label.add_student}">Create Student</span>
    </div>

    <div class="container">
        <form th:action="@{/students/create}" method="post" th:object="${student}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.first.name}">First Name</label>
                    <input type="text" id="firstname" name="firstname" th:value="${student.firstname}"
                           th:placeholder="#{label.enter_firstname}">
                </div>
                <div class="input-group">
                    <label th:text="#{label.last.name}">Last Name</label>
                    <input type="text" id="lastname" name="lastname" th:value="${student.lastname}"
                           th:placeholder="#{label.enter_lastname}">
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.username}">Username</label>
                    <input type="text" id="username" name="username" th:value="${student.username}"
                           th:placeholder="#{label.enter_username}">
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.email}">Email</label>
                    <input type="text" id="email" name="email" th:value="${student.email}"
                           th:placeholder="#{label.enter_email}">
                </div>
                <div class="input-group">
                    <label th:text="#{label.phone}">Phone</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${student.phoneNumber}"
                           th:placeholder="#{label.enter_phone}">
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.dob}">Date of Birth</label>
                    <input type="date" id="dateOfBirth" name="dateOfBirth" th:value="${student.dateOfBirth}"
                           th:placeholder="#{label.enter_dob}">
                </div>
                <div class="input-group">
                    <label th:text="#{label.enrollment_date}">Enrollment Date</label>
                    <input type="date" id="enrollmentDate" name="enrollmentDate" th:value="${student.enrollmentDate}">
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.country}">Country</label>
                    <div>
                        <select name="countryCode" id="countryCode" th:field="*{countryCode}">
                            <option value="" disabled selected th:text="#{label.enter_country}">Select country</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.code}"
                                    th:text="#{${country.messageKey}}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.class}">Class</label>
                    <div>
                        <select name="countryCode" id="classCode" th:field="*{classCode}">
                            <option th:each="classCode : ${classNames}"
                                    th:value="${classCode}"
                                    th:text="${classCode}"
                                    th:selected="${student.classCode == classCode}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.bio}">Bio</label>
                    <input type="text" id="bio" name="bio" th:value="${student.bio}"
                           th:placeholder="#{label.enter_bio}">
                </div>
            </div>

            <button type="submit" class="btn" th:text="#{button.save}">Save</button>
        </form>
    </div>
</main>

</body>
</html>