<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<!-- Вставка навигационной панели -->
<div th:replace="~{/fragments/sidebar.html}"></div>

<main>
    <div th:replace="~{/fragments/header.html}"></div>

    <br>

    <div class="profile-header">
        <a th:href="@{/profile}" class="back-arrow" title="Back">←</a>
        <span th:text="#{label.edit_profile}">Edit Profile</span>
    </div>

    <div class="container">
        <form th:action="@{/profile/edit}" method="post" th:object="${user}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <!-- Ошибки валидации -->
            <div data-th-if="${errors}" class="alert alert-error">
                <ul>
                    <li th:each="error : ${errors}" th:text="${error}"></li>
                </ul>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.first.name}">First Name</label>
                    <input type="text" id="firstname" name="firstname" th:value="${user.firstName}">
                </div>
                <div class="input-group">
                    <label th:text="#{label.last.name}">Last Name</label>
                    <input type="text" id="lastname" name="lastname" th:value="${user.lastName}">
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.email}">Email</label>
                    <input type="text" id="email" name="email" th:value="${user.email}">
                </div>
                <div class="input-group">
                    <label th:text="#{label.phone}">Phone</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}">
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.dob}">Date of Birth</label>
                    <div>
                        <input type="date" class="dob" id="dateOfBirth" name="dateOfBirth"
                               th:value="${#temporals.format(user.dateOfBirth, 'yyyy-MM-dd')}" required>
                    </div>
                </div>
                <div>
                    <label th:text="#{label.country}">Country</label>
                    <div>
                        <select name="countryCode" id="countryCode" th:field="*{countryCode}">
                            <option th:each="country : ${countries}"
                                    th:value="${country.code}"
                                    th:text="#{${country.messageKey}}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Біографія -->
            <div>
                <label th:text="#{label.bio}">Bio</label>
                <div class="bio">
                    <input type="text" class="bio-input" id="bio" name="bio" th:value="${user.bio}">
                </div>
            </div>


            <button type="submit" class="btn" th:text="#{button.save}">Save</button>

        </form>

    </div>
</main>

</body>
</html>