<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${editMode} ? 'Редактировать оценку' : 'Добавить оценку'">Grade Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{/fragments/sidebar.html}"></div>

<main>
    <div th:replace="~{/fragments/header.html}"></div>
    <br>

    <div class="profile-header">
        <a th:href="@{/grades}" class="back-arrow" title="Back">←</a>
        <span th:text="${editMode} ? 'Редактировать оценку' : 'Добавить оценку'">Grade</span>
    </div>

    <div class="container">
        <form th:action="${editMode} ? @{'/grades/edit/' + ${gradeId}} : @{/grades/add}"
              th:object="${gradeForm}" method="post">

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.student.name}">Учень</label>
                    <div>
                        <select th:field="*{studentId}" required>
                            <option th:each="s : ${students}" th:value="${s.id}"
                                    th:text="${s.user.firstname + ' ' + s.user.lastname}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <input type="hidden" th:field="*{teacherId}"/>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.subject}">Subject</label>
                    <select th:field="*{subjectId}" required>
                        <option th:each="sub : ${subjects}" th:value="${sub.id}" th:text="#{${sub.messageKey}}"></option>
                    </select>
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.grade.value}">Grade</label>
                    <input type="number" th:field="*{score}" min="0" max="100" required/>
                </div>
            </div>

            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.date}">Date</label>
                    <input type="date" th:field="*{date}" required/>
                </div>
            </div>


            <div class="profile-row">
                <div class="input-group">
                    <label th:text="#{label.comment}">Bio</label>
                    <input type="text" class="bio-input" th:field="*{comment}">
                </div>
            </div>

            <button type="submit" class="btn" th:text="${editMode} ? 'Сохранить' : 'Добавить'">Сохранить</button>
        </form>
    </div>
</main>
</body>
</html>
