<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.homepage}">Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<!-- Вставка навигационной панели -->
<div th:replace="~{/fragments/sidebar.html}"></div>

<main>
    <div th:replace="~{/fragments/header.html}"></div>

    <br>

    <div class="profile-header" th:text="#{label.homework}">Homework</div>

    <div class="container">
        <form method="get" th:action="@{/homework}">
            <div class="profile-row">
                <div>
                    <label for="status" th:text="#{label.filter_by_status}">Filter by status:</label>
                    <select name="status" id="status">
                        <option value="" th:selected="${selectedStatus == null}" th:text="#{label.all}">All</option>
                        <option th:each="status : ${statuses}"
                                th:value="${status.name()}"
                                th:text="#{${status.getDisplayName()}}"
                                th:selected="${selectedStatus != null and status.name() == selectedStatus.name()}">
                        </option>
                    </select>
                </div>
                <button class="button-filter" type="submit" th:text="#{label.filter}">Filter</button>
                <a th:href="@{/homework/add}" class="button-filter" th:text="#{label.add_homework}"
                   sec:authorize="hasAuthority('TEACHER') or hasAuthority('ADMIN')">
                    Add Homework
                </a>
            </div>
            <br>
        </form>

        <div th:if="${homeworkList.isEmpty()}">
            <p th:text="#{label.no_homework}">No homework found.</p>
        </div>

        <div th:each="homework : ${homeworkList}" class="announcement">
            <h2 th:text="${homework.title}">Homework Title</h2>
            <p>
                <strong th:text="#{label.description}">Description:</strong>
                <span th:text="${homework.description}">Homework description</span>
            </p>
            <p>
                <strong th:text="#{label.deadline}">Due by:</strong>
                <span th:text="${#strings.capitalize(#temporals.format(homework.dueDate, 'dd MMM yyyy HH:mm', T(java.util.Locale).forLanguageTag('uk')))}"></span>
            </p>
            <form th:action="@{'/homework/delete/' + ${homework.id}}" method="post"
                  sec:authorize="hasAuthority('TEACHER') or hasAuthority('ADMIN')">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="button-filter" th:text="#{label.delete}">Delete</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
